.homepage-wrapper .navbar{
padding: 0;
background-color: #311649;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar .page-info{
    width: 100%;
    height: 70px;
    left: 0px;
    top: 0px;
}
.navbar .page-info div{
    padding: 1.5%;
    padding-left: 3%;
    color:white ;
    font-weight: 600;
    font-size: 32px;
}
.navbar .account-detail{
    width: 100%;
    height: 70px;
    right: 0px;
    top: 0px;
    background: #242ce5;
    border-radius: 180px 0px 0px 180px;
}
.navbar .account-detail div{
    padding: 1.5%;
    padding-right: 7%;
    color:white ;
    font-weight: 100;
    font-size: 32px;
    
    text-align:right;
}

.homepage-btns{
    display: flex;
    padding: 8%;
    height: 610px;
}
.homepage-btns .homepage-btn{
    width: 275px;
    /* width: 100%; */
    /* padding: 5%; */
    margin-top: 3%;
    margin-right: 4%;
    margin-left: 4%;
    background: rgba(49, 22, 73, 0.18);
border-radius: 15px;
}
.homepage-btn img{
    padding: 10%;
    width: 100%;
}
.homepage-btn h2{
    text-align: center;
    text-decoration: underline;
}