
.middle-img{
    position:relative;
    padding: auto;
    text-align: center;
}
.logo{
    height: 30px;
    width: 30px;
    margin-top: 20px;
}

.name{
    color: aliceblue;
    font-size: 40px;
    font: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper{
    background-image: url("../images/background-ovals-2.png");
    background-size: cover;
    /* padding: 1rem; */
    height: 720px;
    /* width: auto; */
    max-width: inherit;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
}
.signin{
    font-weight: bold;
    font-size: medium;
    color: white;
    position: relative;
    width: 180px;
    height: 50px;
    border-color: #160b1e;
    background: #311649;
    border-radius: 45px;
}
.register{
    font-size: medium;
    font-weight: bold;
    color: #1e228f;
    position: relative;
    width: 180px;
    height: 50px;
    border-color: #131661;
    background: #ffffff;
    border-radius: 45px;
}
.buttons{
    text-align: center;
}