.signin-page{
    width: 420px;
    margin-right: 10%;
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid #311649;
    border-radius: 10px;
}
.signin-page .signin-panel{
    /* width: auto; */
    width: auto;
    height: 500px;
    padding: 5%;
}
.signin-panel .title{
    font-size: 40px;
    line-height: 47px;
    
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    font-variant: small-caps;
}

.signin-panel .input-field{
    padding-left: 1%;
    padding-right: 1%;

    margin-top: 15%;
}

.signin-panel .input-field label{
    color: #000000;
font-style: normal;
font-weight: 600;
font-size: 15px;
}
.signin-panel .input-field input{
    font-size: 24px;
    padding: 3%;
    width: 100%;
    height: 40px;
    background: #D9D9D9;
    border: none;
    border-radius: 10px;
}



.signin-panel .enter-field{
    height: 48px;
    margin-top: 30%;
    transform: translateY(10px);

}
.signin-panel .enter-btn{
    color:white;
    border: none;
    margin: auto;
    width: 160.49px;
    height: 51px;
    
    background: #311649;
    border-radius: 45px 45px 10px 10px;
}